-r requirements.txt
Sphinx
codecov
coveralls
ipdb
ipython
pre-commit
pytest
pytest-cov
sphinx-autobuild
sphinx-rtd-theme
tox
twine
vcrpy
wheel
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
